body{
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(240, 233, 236);
    color: antiquewhite;
}
h1{
    align-items: center;
    align-self: center;
}
.container{
    background: rgb(113, 72, 72);
    min-height:400px;
    max-width: 600px;
    padding: 16px;
    border: 2px solid  black;
    border-radius: 8px;
    margin: 32px auto;
    display:flex;
    flex-direction: column;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.form-element{
    margin: 8px;
    min-height: 24px;
    min-width: 36px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
input{
    background: rgb(172, 162, 164);
    width: 50%;
}

.submit-btn{
    padding: 8px;
    margin-top: 4px;
    text-align: center;
}
.submit-btn #submit-todo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: aliceblue;
    font-size: 18px;
    padding: 8px;
    background: rgb(6, 16, 43);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
}